body{
	background-color: #F5F5F5;
}
#trello{
	width: 80%;
	margin: 0 auto;
	background-color: RoyalBlue;
}

input{
	background-color: SeaShell ;
}

.titulo{
	color: 	#4682B4;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

.mi-btn{
	background-color: #5eb64a;
	border-radius: 10px;
}

.mi-segundo-input{
	background-color: blue;
	width: 100px;
}